<div class="flightCard" id="{{flight1}}">
    <i class="itemIcon fa-solid fa-plane"></i>

    <div class="div2">
        <h3>{{departing}} to {{arrival}}</h3>
        <div class="flightInfoLabel">
            <p class="col-3">DATE</p>
            <P class="col-3">TIME</P>
            <p class="col-3">FLIGHT</p>
            <p class="col-3">GATE</p>
        </div>
        <div class="flightInfoData">
            <h5 class="col-3">{{date}}</h5>
            <h5 class="col-3">{{time}}</h5>
            <h5 class="col-3">{{flight}}</h5>
            <h5 class="col-3">{{gate}}</h5>
        </div>
    </div>
</div>