<div class="hotelCard" id="{{hotel1}}">
    <i class="itemIcon fa-solid fa-bed"></i>
    <div class="div2">
        <h3>{{name}}</h3>
        <div class="hotelInfoLabel">
            <p class="col-3">CHECK-IN DATE</p>
            <P class="col-3">CHECK-IN TIME</P>
            <p class="col-3">CHECK-OUT DATE</p>
            <p class="col-3">CHECK-OUT TIME</p>
        </div>
        <div class="hotelInfoData">
            <h5 class="col-3">{{checkIn_date}}</h5>
            <h5 class="col-3">{{checkIn_time}}</h5>
            <h5 class="col-3">{{checkOut_date}}</h5>
            <h5 class="col-3">{{checkOut_time}}</h5>
        </div>
    </div>
</div>
