<div class="hotelCard" id="{{hotel1}}">
    <i class="itemIcon fa-solid fa-bed"></i>
    <div class="div2">
        <h3>{{hotelName}}</h3>
        <div class="hotelInfoLabel">
            <p class="col-3">CHECK-IN DATE</p>
            <P class="col-3">CHECK-IN TIME</P>
            <p class="col-3">CHECK-OUT DATE</p>
            <p class="col-3">CHECK-OUT TIME</p>
        </div>
        <div class="hotelInfoData">
            <h5 class="col-3">{{hotelCheckInD}}</h5>
            <h5 class="col-3">{{hotelCheckInT}}</h5>
            <h5 class="col-3">{{hotelCheckOutD}}</h5>
            <h5 class="col-3">{{hotelCheckOutT}}</h5>
        </div>
    </div>
</div>
