<div class="flightCard" id="flight1">
    <h3>{{MSP}} to {{BOS}}</h3>
    <div class="flightInfoLabel">
        <p class="col-3">DATE</p>
        <P class="col-3">TIME</P>
        <p class="col-3">FLIGHT</p>
        <p class="col-3">GATE</p>
    </div>
    <div class="flightInfoData">
        <h5 class="col-3">{{sdfg}}</h5>
        <h5 class="col-3">{{sdfg}}</h5>
        <h5 class="col-3">{{sdfg}}</h5>
        <h5 class="col-3">{{sdfg}}</h5>
    </div>
</div>