<div class="flightCard" id="{{flight1}}">
    <i class="itemIcon fa-solid fa-plane"></i>
    <div class="div2">
        <h3>{{MSP}} to {{BOS}}</h3>
        <div class="flightInfoLabel">
            <p class="col-3">DATE</p>
            <P class="col-3">TIME</P>
            <p class="col-3">FLIGHT</p>
            <p class="col-3">GATE</p>
        </div>
        <div class="flightInfoData">
            <h5 class="col-3">{{12/24/25}}</h5>
            <h5 class="col-3">{{9:00 AM}}</h5>
            <h5 class="col-3">{{C123}}</h5>
            <h5 class="col-3">{{G4}}</h5>
        </div>
    </div>
</div>